<h1>
  <my-global-icon iconName="peertube-x" aria-hidden="true"></my-global-icon>
  <ng-container i18n>Muted servers</ng-container>
</h1>

<p-table
  [value]="blockedServers" [paginator]="totalRecords > 0" [totalRecords]="totalRecords"
  [rows]="rowsPerPage" [rowsPerPageOptions]="rowsPerPageOptions" [first]="pagination.start"
  [sortField]="sort.field" [sortOrder]="sort.order"
  [lazy]="true" (onLazyLoad)="loadLazy($event)" [lazyLoadOnInit]="false"
  [showCurrentPageReport]="true" i18n-currentPageReportTemplate
  currentPageReportTemplate="Showing {{'{first}'}} to {{'{last}'}} of {{'{totalRecords}'}} muted instances"
>
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="left-buttons">
        <button class="peertube-create-button" (click)="addServersToBlock()" (key.enter)="addServersToBlock()">
          <my-global-icon iconName="add" aria-hidden="true"></my-global-icon>
          <ng-container i18n>Mute domain</ng-container>
        </button>
      </div>

      <div class="ms-auto">
        <my-advanced-input-filter (search)="onSearch($event)"></my-advanced-input-filter>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 150px;" i18n>Action</th> <!-- column for action buttons -->
      <th i18n>Instance</th>
      <th style="width: 150px;" i18n pSortableColumn="createdAt">Muted at <p-sortIcon field="createdAt"></p-sortIcon></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-serverBlock>
    <tr>
      <td class="action-cell">
        <button class="unblock-button" (click)="unblockServer(serverBlock)" i18n>Unmute</button>
      </td>
      <td>
        <a [href]="'https://' + serverBlock.blockedServer.host" i18n-title title="Open instance in a new tab" target="_blank" rel="noopener noreferrer">
          {{ serverBlock.blockedServer.host }}
          <my-global-icon iconName="external-link"></my-global-icon>
        </a>
      </td>
      <td>{{ serverBlock.createdAt | date: 'short' }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3">
        <div class="no-results">
          <ng-container *ngIf="search" i18n>No server found matching current filters.</ng-container>
          <ng-container *ngIf="!search" i18n>No server found.</ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<my-batch-domains-modal #batchDomainsModal i18n-action action="Mute domains" (domains)="onDomainsToBlock($event)"></my-batch-domains-modal>
